In [9]:
# pip install streamlit
# !pip install plotly.express

In [10]:
import streamlit as st
import pandas as pd
import plotly.express as px

In [11]:
df = pd.read_csv("state_data.csv")

In [16]:
df.sort_values(['State', 'Year'], ascending=[True, True], inplace=True)

In [20]:
df['Pct Change in Median Income'] = df.groupby('State')['Median Household Income'].transform(lambda x: x.pct_change())

In [21]:
df.head(n=20)

,State,Year,Total Population,Median Household Income,change_median_inc,Pct Change in Median Income
0,Alabama,2005,4442558,36879,NaN,NaN
1,Alabama,2006,4599030,38783,0.051628,0.051628
2,Alabama,2007,4627851,40554,0.045664,0.045664
3,Alabama,2008,4661900,42666,0.052079,0.052079
4,Alabama,2009,4708708,40489,-0.051024,-0.051024
5,Alabama,2010,4785298,40474,-0.000370,-0.000370
6,Alabama,2011,4802740,41415,0.023249,0.023249
7,Alabama,2012,4822023,41574,0.003839,0.003839
8,Alabama,2013,4833722,42849,0.030668,0.030668
9,Alabama,2014,4849377,42830,-0.000443,-0.000443
10,Alabama,2015,4858979,44765,0.045179,0.045179
11,Alabama,2016,4863300,46257,0.033330,0.033330
12,Alabama,2017,4874747,48123,0.040340,0.040340
13,Alabama,2018,4887871,49861,0.036116,0.036116
14,Alabama,2019,4903185,51734,0.037564,0.037564
15,Alabama,2021,5039877,53913,0.042119,0.042119
16,Alabama,2022,5074296,59674,0.106857,0.106857
17,Alabama,2023,5108468,62212,0.042531,0.042531
18,Alaska,2005,641724,56234,NaN,NaN
19,Alaska,2006,670053,59393,0.056176,0.056176